body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
  display: grid;
  border-style: solid;
  border-width: 3px;
  border-color: #3a7afa;
  font-size: 50%;
  margin:0px;
  height: 80vh;
  width: 30vw;

}
p{
  margin: 0;
  height: 1vh;
}

